/* bg */
#main {
    position:fixed;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    background: linear-gradient(300deg,#22552d,#3a6f45,#492a90,#ab1921,#7a99ba,#d6d56e);
    background-size: 240% 240%;
    animation: gradient-animation 14s ease infinite;
    color: #000;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /*wickmel: activated;*/
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body {
    font-family: "Outfit", sans-serif;
    background-color: #000;
    font-size: 24px;
}

.textinmain {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#title {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

#info {
    display: flex;
}

.subtitle {
    font-size: 47px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.subtitle2, .subtitle3 {
    font-size: 32px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.subtitle3 {
    font-weight: bold;
}


#info {
    align-self: center;
    margin-left: 20vw;
}
#leftdiv, #rightdiv {
    width: 30vw;
    text-align: center;
}

.link {
    font-weight: 900;
    text-decoration: underline;
}

.minitext {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    height: 2vh;
}

#infohover {
    border: #000 4px solid;
    color: white;
    width: 90vw;
    height: 5vh;
    text-align: center;
    margin-left: 5vw;
}

#games, #music, .minitext {
    font-weight: bold;
}

#games, #music {
    display: flexbox;
    width: 8vw;
    margin-left: 11.5vw;
}

button{
    color: white;
    background-color: rgba(0,0,0,0);
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    border: 0px;
    font-weight: bold;
}

#randomfactdiv {
    margin-top: 5vh;
    align-items: center;
    text-align: center;
}

#randomfact {
    font-weight: bold;
}

/* unvisited link */
a:link, a:visited, a:hover, a:active {
    color: black;
}